<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
      <p>A software developer with an emphasis on mobile technologies, as well as full stack web development and a variety of other random technologies.</p>
      <hr/>
      Seattle, WA
      <hr/>
      <p><a href="/resume">Resume</a></p>
      <hr/>
      <p><a href="/bookmarks">Bookmarks</a></p>
      <hr />
      <p><a href="http://www.dogfishsoftware.com">Dogfish Software LLC</a></p>
      <p><a href="http://www.elegantthought.com">Elegant Thought LLC</a></p>
      <p><a href="http://www.sj-dev.com">SJ Development LLC</a></p>
      <hr/>
      <div>
          <div id="social">
          {% include social.html %}
          </div>
      </div>
  </ul>
</nav>
