<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
      <p>A freelance software developer with an affinity for iOS, Python, and the web</p>
      <hr/>
      <p><a href="/resume">Resume</a></p>
      <hr/>
      <p>Current Employer</p>
      <p><a href="http://www.elegantthought.com">Elegant Thought LLC</a></p>
      <p><a href="http://www.sj-dev.com">SJ Development LLC</a></p>
      <hr/>
      <div>
          <div id="social">
          {% include social.html %}
          </div>
      </div>
  </ul>
</nav>
