---
layout: default
title: Bookmarks
---

<p class="meta">
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">Bookmarks</h1>

<div id="post">
    <h1>iOS Development</h1>

    <hr/>

    {% for post in site.posts %}
        {% if post.layout == 'bookmark' && post.tags contains 'ios' %}
        <p>
        {{ post.content }}
        <span class="datetime">{{ post.date | date_to_string }}</span>
        </p>
        {% endif %}
    {% endfor %}

    <h1>Computer Science</h1>

    <hr/>

    {% for post in site.posts %}
        {% if post.layout == 'bookmark' && post.tags contains 'cs' %}
        <p>
        {{ post.content }}
        <span class="datetime">{{ post.date | date_to_string }}</span>
        </p>
        {% endif %}
    {% endfor %}

    <h1>Tools</h1>

    <hr/>

    {% for post in site.posts %}
        {% if post.layout == 'bookmark' && post.tags contains 'tools' %}
        <p>
        {{ post.content }}
        <span class="datetime">{{ post.date | date_to_string }}</span>
        </p>
        {% endif %}
    {% endfor %}
</div>
