---
layout: default
title: Bookmarks
---

<p class="meta">
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">Bookmarks</h1>

<div id="post">
    <h1>iOS Development</h1>

    <hr/>

    {% for post in site.posts %}
        {% if post.layout == 'bookmark' && post.tags contains 'ios' %}
        <p>
        {{ post.content }}
        <span class="datetime">{{ post.date | date_to_string }}</span>
        </p>
        {% endif %}
    {% endfor %}

    <p>
        
    </p>

    <hr/>

    <p>
        <a href="http://honzadvorsky.com/blog/2015/5/4/under-the-hood-of-xcode-server?utm_campaign=iOS_Dev_Weekly_Issue_197&utm_medium=email&utm_source=iOS%2BDev%2BWeekly">Under the Hood of Xcode Server</a><br/>
    </p>

    <h1>Computer Science</h1>
    <p>
        <a href="http://engineering.flipboard.com/2015/05/scaling-convnets/">Image Scaling using Deep Convolutional Neural Networks</a><br/>
    </p>

    <hr/>

    <p>
        <a href="http://karpathy.github.io/neuralnets/">Hacker's Guide to Neural Networks</a><br/>
    </p>

    <hr/>

    <p>
        <a href="http://0xax.blogspot.com/2014/08/say-hello-to-x64-assembly-part-1.html">Say hello to x64 Assembly [part 1]</a><br/>
        While not extremely practical for most developers, I enjoy reading about low level systems and this guy does a phenominal job of explaining the x64 assembly instruction set and assembly coding patterns.
    </p>

    <h1>Tools</h1>
    <p>
        <a href="https://codewords.recurse.com/issues/two/git-from-the-inside-out">Git from the inside out</a><br/>
        This is a really great article for learning how and why <pre>git</pre> works the way that it does. After reading it I would definitely say that I have a significantly better understanding of how to use <pre>git</pre> and what is actually going on so that I make far fewer mistakes. Must read for those newer to the vcs.
    </p>
</div>
